<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/static/css/error.css" />
    <title>Página Não Encontrada</title>
</head>
<body>
  <h1>404 - Página Não Encontrada</h1>
  <p>A página que você está procurando não existe.</p>
</body>
</html>
