<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>rpg model</title>
  <link type="text/css" rel="stylesheet" href="/static/css/login.css" />
</head>

<body>
  <form>
      <div class="linha">
        <label>User:</label>
        <input type="text" name="username" id="username"/>
      </div>
      <div class="linha">
        <label>Name:</label>
        <input type="text" name="name" id="name"/>
      </div>
      <div class="linha">
        <label>Senha:</label>
        <input type="password" name="password" id="password"/>
      </div>
      <div class="linha">
        <label>E-mail:</label>
        <input type="text" name="mail" id="mail"/>
      </div>
      <div class="linha">
        <label>Phone:</label>
        <input type="phone" name="phone" id="phone"/>
      </div>
        <center>
            <button type="button" id="btn_criar">
              CRIAR
            </button>
            <button type="button" id="btn_logar">
              LOGAR
            </button>
        </center>
  </form>
      <script type="module" src="/static/js/login.js"></script>
</body>
</html>