<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>rpg model</title>
  <link type="text/css" rel="stylesheet" href="/static/css/login.css" />
</head>

<body>
  <form action="" method="post">
      <div class="linha">
        <label>User:</label>
        <input type="text" name="user" id="user"/>
      </div>
      <div class="linha">
        <label>Name:</label>
        <input type="text" name="name" id="name"/>
      </div>
      <br />
      <div class="linha">
        <label>Senha:</label>
        <input type="password" name="senha" id="password"/>
      </div>
      <br />
      <div class="linha">
        <label>E-mail:</label>
        <input type="text" name="mail" id="mail"/>
      </div>
      <br />
      <div class="linha">
        <label>Phone:</label>
        <input type="phone" name="phone" id="phone"/>
      </div>
      <br />
        <center>
            <input type="button" value="CRIAR" id="btn_criar"/>
            <input type="button" value="LOGAR" id="btn_logar">
        </center>
  </form>
      <script type="module" src="/static/js/login.js"></script>
</body>
</html>