/* login.css */
@import url(../css/rootStyle.css);

form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 25px;
    background: var(--cGry);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.linha label {
    margin-bottom: 5px;
    font-weight: 400;
    font-style: bold;
    height: 30px;
    color: var(--cOrg);
}

.linha input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
    width: 100%;
    height: 40px;
}

input#name {
    text-transform: uppercase;
}

center {
    width: 100%;
    height: auto;
}

button[type="button"] {
    width: 120px;
    height: 60px;
    background: var(--cOrg);
    color: var(--cGry);
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    font-weight: 200;
    border-radius: 14px;
}

button:hover {
    background: var(--backBlue);
    color: var(--cWht);
}