@import url(../css/rootStyle.css);

html > body, form {
    width: 100vw;
    height: auto;
    display: flex;
    font-family: 'Jomhuria', serif;
    font-size: 1.6em;
    letter-spacing: 2px;
}

form {
    display: flex;
    width: 40vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background: var(--backOrg);
}

.linha {
    display: flex;
    width: 75vw;
    height: 44px;
    row-gap: 20px;
    background: var(--backBlue);
    margin: 0 auto;
    flex-direction: row;
}
